/* body {
    background-color:pink;
} */


.navbar{
    height:5rem;
    background-color: #f8f9fa;
    padding: 1rem;
}

.fa-chisel{
    font-size: 2.5rem;
    color: #fe424d;
}

.nav-link{
    font-size: 1.2rem;
    color: #222222 !important;
}